/* src/styles.css */

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Estilos para el Header */
header {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray; /* Sombra suave */
}

header .logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

header nav ul li {
  font-size: 16px;
}

header nav ul li a {
  color: #fff;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #ddd; /* Gris claro en hover */
}
